.notFound {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound h1 {
  font-size: 10rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.notFound h3 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 0.5rem;
}

.notFound p {
  font-size: 1.1rem;
  margin: 1rem 0;
}
