@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&family=Markazi+Text:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
  --tertiary-color: #ee9972;
  --font-color: #333;
  --light-gray-color: #edefee;
  --light-orange-color: #fbfabb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

a:hover {
  color: var(--tertiary-color);
}

/* Container */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Navbar */
nav {
  padding: 1rem;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}

nav ul li {
  font-size: 1.15rem;
}

nav li a {
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

nav ul li a:hover {
  font-weight: 500;
  color: var(--tertiary-color);
}

/* Call to Action - Hero section */
.hero {
  background: var(--primary-color);
  color: var(--light-gray-color);
  margin-bottom: 4rem;
  font-family: "Markazi";
  padding: 1rem;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.hero-img,
.hero-action {
  margin-top: 2rem;
}

.hero h2 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.hero h3 {
  font-size: 2rem;
}

.hero-text {
  margin: 2rem 0;
  font-size: 1.1rem;
  line-height: 1.3;
}

.hero-img {
  height: 28rem;
  width: 70%;
  margin-bottom: -4.5rem;
  justify-self: end;
}

.hero-img img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

/* Button */
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Rating */
.rating {
  margin: 0.5rem 0;
  color: var(--secondary-color);
}

/* Blockquote */
blockquote {
  font-style: italic;
  padding: 10px;
  border-left: 5px solid #ccc;
  margin: 0;
}

/* Specials */
.specials {
  font-family: "Markazi";
  padding: 1rem;
  margin-bottom: 4rem;
}

.specials-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.specials-header h2 {
  font-size: 2.5rem;
}
.specials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Meal Cards */
.meal-card {
  background-color: var(--light-gray-color);
  height: fit-content;
  border-radius: 25px 25px 0 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.meal-details {
  padding: 1rem;
}
.meal-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meal-details-header p {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--tertiary-color);
}
.meal-details-description {
  margin: 2rem 0;
  line-height: 1.4;
}
.meal-details-footer {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meal-img {
  width: 100%;
  overflow: hidden;
}
.meal-img img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 18rem;
  transition: all 0.2s ease-in-out;
}

.meal-img img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Testimonials */
.testimonials {
  background: var(--primary-color);
  color: var(--light-gray-color);
  padding: 1rem;
  margin-bottom: 4rem;
}

.testimonials h2 {
  font-size: 2rem;
  font-family: "Markazi";
  margin: 1rem 0 2rem 0;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.testimonial {
  background-color: #fff;
  color: var(--font-color);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.testimonial-header {
  text-align: center;
}

.testimonial-header p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0 1.5rem;
}

.testimonial img {
  width: 60%;
  border-radius: 50%;
}

/* About */
.about {
  padding: 1rem;
  margin-bottom: 4rem;
}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about h2 {
  font-size: 2.5rem;
  font-family: "Markazi";
  color: var(--secondary-color);
}

.about h3 {
  font-size: 2rem;
  font-family: "Markazi";
}

.about p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.about-photos {
  width: 90%;
}

.about-photos img {
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  padding: 2rem;
  background: var(--primary-color);
  color: var(--light-gray-color);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

footer img {
  width: 80px;
}

footer ul {
  list-style-type: none;
}

footer h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

footer .social-links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
footer ul li {
  font-size: 1.1rem;
  line-height: 1.5;
}

footer ul li a {
  text-decoration: none;
  color: var(--light-gray-color);
}

footer ul li a:hover {
  color: var(--secondary-color);
}

/* Responsive design */
@media (max-width: 760px) {
  nav ul {
    display: none;
  }

  .hero .container {
    display: block;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    justify-self: center;
  }

  .hero-text {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  .specials-grid {
    grid-template-columns: 1fr;
  }

  .testimonials-grid {
    grid-template-columns: 1fr 1fr;
  }
  .testimonial img {
    width: 50%;
    border-radius: 50%;
  }

  .about .container {
    grid-template-columns: 1fr;
  }
  .about-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }
  footer .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
  }
  .testimonial img {
    width: 30%;
    border-radius: 50%;
  }
  .about .container {
    grid-template-columns: 1fr;
  }
  .about-photos {
    width: 100%;
  }
  footer .container {
    grid-template-columns: 1fr;
  }
}
